torch==2.6.0
transformers==4.49.0
datasets==3.3.2
sentence-transformers==3.4.1
faiss-gpu==1.8.0
llmlingua==0.2.2
rank-bm25==0.2.2
numpy==1.24.4
pandas==2.2.3
tqdm==4.67.1
psutil==7.0.0
accelerate==1.4.0
hydra-core
selective-context
pynvml
bitsandbytes
